<div id="new-question-form-container">
  <h2>Create your new question!</h2>
  <div class="errors">
    <% if @question.errors %>
      <% @question.errors.full_messages.each do |error| %>
        <ul><%= error %></ul>
      <% end %>
    <% end %>
  </div>

  <form method="post" action="/questions">
    <label for="question_title_input">
    <input type="hidden" name="question[user_id]" value= "<%= @id %>">
    <input id="question_title_input" name="question[title]" type="text" placeholder="Title" style="width:400px" pattern=".{5,}" required title="No title?  No dice!">
    <br>
    <label for="question_text_input">
      <textarea id="question_text_input" name="question[body]" cols="92" rows="15" placeholder="Post your question here!" pattern=".{10,}" required title="Come on!  Please type a real question!"></textarea>
    <br>
    <input type="submit" value="Create a question!">
  </form>

</div>
