.container {
  margin: 180px auto 20px auto;
  width: 67%;
  min-width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

.display-inline-block { display: inline-block; }

.float-right { float: right; }

.padding-right-small { padding-right: 1.5em; }

.float-left { float: left; }

.display-block { display: block; }

.full-width { width: 100%; }

.medium-height { height: 5em; }

.padding-small { padding: .5em; }

.padding-left-medium { padding-left: 1em; }

.padding-top-small { padding-top: .5em; }

.round-corners { border-radius: 5px; }

/*.div-shadow { box-shadow: 10px 10px 5px #888888; }*/

.div-shadow {
  -webkit-box-shadow: 0px 0px 26px -10px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 26px -10px rgba(0,0,0,1);
  box-shadow: 0px 0px 26px -10px rgba(0,0,0,1);
}
