<h1>Create A New User Account</h1>

<form id="new_user" action="/users" method="POST">
  <label for="the_first_name">First Name:<br>
    <input type="text" name="first_name" placeholder="First Name">
  </label><br>
  <br>
  <label for="the_last_name">Last Name:<br>
    <input type="text" name="last_name" placeholder="Last Name">
  </label><br>
  <br>
  <label for="the_email">Email:<br>
    <input type="email" name="email" placeholder="Email">
  </label><br>
  <br>
  <label for="the_password">Password:<br>
    <input type="password" name="password" placeholder="Password">
  </label><br>
  <br>
  <input type="submit" value="Create New User!!">
</form>
